<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(0,0,0)">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills flex-column flex-sm-row">
      <li class="nav-item active">
        <a class="nav-link" style="color: rgb(215,17,27)" href="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: rgb(215,17,27)" href="{{ url_for('book.book_index') }}">Книги</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: rgb(215,17,27)" href="{{ url_for('genre.genre_index') }}">Категории</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: rgb(215,17,27)" href="{{ url_for('author.author_index') }}">Авторы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: rgb(215,17,27)" href="{{ url_for('contact.contact_index') }}">О нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: rgb(215,17,27)" href="#">Корзина</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button type="button" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Искать</button>
    </form>
    <ul class="nav nav-pills flex-column flex-sm-row">
      {% if current_user.is_authenticated %}
        <li class="nav-item">
          <span class="nav-link">Привет, {{ current_user.username }}!</span>
        </li>
          {% if current_user.is_admin %}
          <li class="nav-item">
            <a style="color: rgb(215,17,27)" href="{{ url_for('admin.admin_index') }}" class="nav-link">Админка</a>
          </li>
          {% endif %}
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(215,17,27)" href="{{ url_for('user.logout') }}">Выйти</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(215,17,27)" href="{{ url_for('user.login') }}">Войти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(215,17,27)" href="{{ url_for('user.register') }}">Регистрация</a>
        </li>
      {% endif %} 
    </ul>
  </div>
</nav>