{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class='row'>
{% for author in author_list %}
        <div class='col-4 author-content'>
			<div class="img-thumbnail" style="width: 18rem; height: 18rem;">
            	<img src = "../static/{{ author.image }}" class="img-fluid" alt="Responsive image">
			</div>
        </div>
        <div class='col-6' style='margin-left: 40px; margin-right: 40px; margin-bottom: 40px'>
	    	<h4>{{ author.last_name }}</h4> <h5>{{ author.first_name }}</h5>
            <h6>Год рождения: {{ author.birth_date }}</h6>
			<p>{{  author.description[:50] }} ...</p>
			<form action="{{ url_for('author.author_id') }}" method="POST">
			    <button type="hidden" name="author_id" value="{{ author.id }}" class="btn btn-success">Перейти к описанию автора</button>
			</form> 
	    </div>
{% endfor %}
    </div>
</div>






{% endblock %}