{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class='row'>
{% for genre in genres %}
    	<div class='col-5' style='margin-left: 40px; margin-right: 40px; margin-bottom: 40px'>
	        <h4>Категория {{ genre }}</h4>
	        <p>
	            <a href="{{ url_for('genre.genre_info', genre=genre)}}"><button type="hidden" name="genre_id" class="btn btn-outline-danger">Больше о категории</button></a>
	        </p>
		</div>
{% endfor %}
    </div>
</div>

{% endblock %}



            